  <header class="header">
    <nav class="header-nav group">

      <h2 class="header-logo"><a href="#">SleepingBnT</a></h2>
      <ul class="header-navlist">
      <% if (Air.currentUser.isSignedIn()) {%>
        <li><a href="#/users/<%=Air.currentUser.id%>"><%= Air.currentUser.escape("username") %></a></li>

        <li>
          <form>
            <a href="#" id="signout">Sign Out</a>
          </form>
        </li>
        <li> <a class="camp" href="#/locations/new"> Add Your Camp </a> </li>
      <%} else {%>
        <li> <a class="signinmodal">Sign In</a> </li>
        <li> <a class="signupmodal">Sign up</a> </li>
      <% } %>

      </ul>

    </nav>

    <section class="modal">
      <div class="modal-content">
        <span class="closemodal">&times;</span>

        <form class="modal-signin">
          <label>
            Username
            <input type="text" name="user[username]" value="<%= user.escape("username") %>">
          </label>

          <br>

          <label>
            Password
            <input class="password" type="password" name="user[password]" value="<%= user.escape("password") %>">
          </label>

          <br>

          <input type="submit" id="signin" value="submit">
        </form>

        <button class='guest'> Guest Login </button>

      </div>
    </section>

    <section class="modal2">
      <div class="modal-content">
        <span class="closemodal2">&times;</span>

        <h2>Sign Up</h2>

        <form class="modal-signup">

          <label>
            First Name
            <input type="text" name="user[first_name]"
            value="<%= user.escape("first_name") %>">
          </label>

          <br>

          <label>
            Last Name
            <input type="text" name="user[last_name]"
            value="<%= user.escape("last_name") %>">
          </label>

          <br>

          <label>
            Username
            <input type="text" name="user[username]">
          </label>

          <br>

          <label>
            Password
            <input type="password" name="user[password]">
          </label>

          <br>

          <input type="submit" value="Create Account">

        </form>


      </div>

      <div class="modal-screen closemodal2"></div>


    </section>

  </header>
