  <header class="header">
    <nav class="header-nav group">

      <h2 class="header-logo"><a href="#">SleepingBnT</a></h2>
      <ul class="header-navlist" style="font-family: 'Lato', sans-serif">
      <% if (Air.currentUser.isSignedIn()) {%>
        <li><a href="#/users/<%=Air.currentUser.id%>"><%= Air.currentUser.escape("username") %></a></li>

        <li>
            <a href="#" id="signout">Sign Out</a>
        </li>
        <li> <a class="camp" href="#/locations/new"> Add Your Camp </a> </li>
      <%} else {%>
        <li> <a class="signinmodal">Sign In</a> </li>
        <li> <a class="signupmodal">Sign up</a> </li>
      <% } %>

      </ul>

    </nav>

    <!-- moved to its own view
    <section class="modal">
      <div class="modal-content">
        <span class="closemodal">&times;</span>

        <form class="modal-signin">
          <label>
            Username
            <input type="text" name="user[username]" value="<%= user.escape("username") %>">
          </label>

          <br>

          <label>
            Password
            <input class="password" type="password" name="user[password]" value="<%= user.escape("password") %>">
          </label>

          <br>

          <input type="submit" id="signin" value="submit">
        </form>

        <button class='guest'> Guest Login </button>

      </div>
    </section> -->

    <section class="modal2">
      <div class="modal-content">
        <form class="modal-signup">
          <table>
            <tr>
              <td>First Name</td>
              <td><input type="text" name="user[first_name]" value="<%= user.escape("first_name") %>"></td>
            </tr>
            <tr>
              <td>Last Name</td>
              <td><input type="text" name="user[last_name]" value="<%= user.escape("last_name") %>"></td>
            </tr>
            <tr>
              <td>Username</td>
              <td><input type="text" name="user[username]"></td>
            </tr>
            <tr>
              <td>Password</td>
              <td><input type="password" name="user[password]"></td>
            </tr>
            <tr>
              <td><input type="submit" value="Create Account"></td>
            </tr>
          </table>
        </form>


      </div>
      <div class="modal-screen closemodal2"></div>
    </section>


  </header>
