
<form>

  <label>
    <h4> Change Your Avatar </h4>
    <input type="file" name="user[avatar]" id="input-url-avatar">
  </label>
  <input type="submit">
</form>

<br>

<img src="<%= user.escape("avatar_url") %>" width="50" id="preview-user-avatar">

<br>

<h3> Your posted locations </h3>

<ul>
  <% user.locations().each(function (location){  %>

    <li><a href="#/locations/<%=location.id%>"> <%= location.escape("name") %></a>
      <% console.log(user.get("current").id) %>
      <% if (user.get("current").id == location.get("owner_id")){  %>

       <p><a href="#/locations/<%=location.id%>/requests">Requests</a></p>
       <p><button class="delete-location" data-id="<%= location.id %>">Delete</button>      </p>
       <p> <a href="#/locations/<%= location.id %>/edit">Edit</a> </p>

       <% } %>
     </li>

  <% }); %>
</ul>

<br>

<h3> Your requests </h3>

<table>
  <tr>
    <th> Location </th>
    <th> Check-in date </th>
    <th> Check-out date </th>
    <th> Status </th>
  </tr>
  <% user.booking_requests().each(function (request){  %>
  <tr>

    <td><a href="#/locations/<%=request.get("location_id")%>"> <%=Air.locations.getOrFetch(request.get("location_id")).escape("name") %></a> </td>
    <td><%=request.escape("start_date")%></td>
    <td><%=request.escape("end_date")%></td>
    <td><%=request.escape("status") %></td>
  </tr>

  <% }); %>
</table>

<br>
<a href="#"> Back to Listing </a>
