<form id="location-form">


<br>
<br>
<h2 class="location-form">Share your camp</h2>

<table>
  <tr>
    <td>Name</td>
    <td><input type="text" name="location[name]" value="<%= location.name %>"></td>
  </tr>
  <tr>
    <td>Type</td>
    <td>
      <label><input
        type="radio"
        name="location[camptype]"
        value="wild"
        <%= location.camptype == "wild" ? "checked" : "" %>>
        Wilderness</label>
      <label><input
        type="radio"
        name="location[camptype]"
        value="drive"
        <%= location.camptype == "drive" ? "checked" : "" %> >
        Drive-In </label>

    </td>
  </tr>
  <tr>
    <td>Maximum number of people</td>
    <td><input type="number" name="location[max_occupancy]" value="<%= location.max_occupancy %>"></td>
  </tr>
  <tr>
    <td>Price per Night</td>
    <td><input type="number" name="location[price]" value="<%=location.price%>"></td>
  </tr>
  <tr>
    <td>Description</td>
    <td><textarea name="location[description]" rows="8" cols="40"><%= location.description %></textarea></td>
  </tr>
  <tr>
    <td>Address</td>
    <td><input type="string" name="location[coordinates]" value="<%= location.coordinates %>"></td>
  </tr>
  <tr>
    <td>Water?</td>
    <td><input type="checkbox" name="location[water]" value="true" <%= location.water ? "checked?" : ""%>></td>
  </tr>
  <tr>
    <td>Bathroom?</td>
    <td><input type="checkbox" name="location[bathroom]" value="true" <%= location.water ? "checked?" : ""%>></td>
  </tr>
  <tr>
    <td>Photo</td>
    <td><input type="file" name="location[photo]" id="input-url-photo"></td>
  </tr>
  <tr>
    <td></td>
    <td><input type="submit" value="Submit" class="formsubmit"></td>
  </tr>


</table>
  <img src="<%= location.escape("photo_url") %>" id="preview-location-photo" width="400" />


</form>
