
<div class="content group">

  <section class="index-map">
  adfsdf
    <div id='map-one' class='map'> </div>
<script>
var map = L.mapbox.map('map-one', 'rjooby.kodi76mc');
var featureLayer = L.mapbox.featureLayer().addTo(map);
</script>
  </section>

  <section class="index-listings">
    <main class="index-listing-form">
      <form class="form-listing-search">
        <label for=""> Where?
        <input type="text" name="some_name" value="">
        </label>

        <label>When?</label>
        <input type="date" name="some_name" value="">
        to
        <input type="date" name="some_name" value="">
        <input type="submit" name="some_name" value="Take me away">
      </form>

    </main>
    <main class="index-listing-locations">
      <h4>Available locations</h4>
      <ul id='locations-list'>
      <% locations.each(function (location) { %>
      <% console.log(location) %>

        <script>

            featureLayer.setGeoJSON({
              type: 'Feature',
              geometry: {
                type: 'Point',
                coordinates: [
                <%=location.escape("longitude")%>,
                <%=location.escape("latitude")%>
                ]
              },
              properties: {
                title: '<%=location.escape("name") %>',
                description: '<%=location.escape("description")%>',
                'marker-size': 'large',
                'marker-color': '#00A1D6',
                'marker-symbol': 'campsite'
              }
            })

        </script>

        <li><a href="#/locations/<%=location.escape("id")%>"><%= location.escape("name") %></a></li>

      <% }); %>
      </ul>

      <script>

          var markerList = document.getElementById('locations-list');

          featureLayer.on('ready', function(e) {
              featureLayer.eachLayer(function(layer) {
                  var item = markerList.appendChild(document.createElement('li'));
                  item.innerHTML = layer.toGeoJSON().properties.title;
                  item.onclick = function() {
                     map.setView(layer.getLatLng(), 14);
                     layer.openPopup();
                  };
              });
          });

      </script>

    </main>
  </section>
</div>
