<header class="location-show-header">
<img src="<%= location.escape("photo_url") %>">
</header>

  <section class="location-show-leading group">
      <a href="#/users/<%=location.escape("owner_id")%>"><img class="leading-pic" src="<%= location.escape("owner_avatar") %>" /></a>
    <div class="leading-text">
      <h3> <%= location.escape("name") %> </h3>
      <h4> <%= location.escape("coordinates") %></h3>
    </div>
  </section>

<div class="info group">

  <section class="description">

    <h3> About this camp </h3>
    <p>
      <%= location.escape("description") %>
    </p>
  </section>

  <main class="location-show-info group">

    <h4 class="detail-tag">Details</h4>

    <section class="details">

    <p>
      <%= location.escape("camptype") === "drive" ? "Drive-in" : "Wilderness" %>
    </p>

    <p>
      Accomodates <%= location.escape("max_occupancy") %>
    </p>

    <p>
      Price: $<%= location.escape("price") %>
    </p>

    <p>
      <%= location.get("water") ? "Drinking water available" : "Water must be brought in" %>
    </p>

    <p>
      Bathroom?: <%= location.get("bathroom") ? "yes" : "no" %>
    </p>

    </section>

  </main>



  <h3> Reviews </h3>
  <% if ((location.reviews()).length === 0) {  %>
    <h4> No reviews yet, be the first! </h4>
  <%} else {%>
  <ul class="reviews">
    <% location.reviews().each(function(review){  %>
    <li><%=review.escape("body") %>
      <i>- <%= review.escape("created_at") %> ago</i>
      <% if (location.current().id == review.escape("reviewer_id")){ %>
        <button class="delete-review" data-id="<%= review.id %>">Delete</button>
      <% } %>
    </li>
    <% }); %>
  </ul>
  <% } %>

  <h3> Leave a review </h3>
  <form class="review">
    <textarea name="review[body]" rows="8" cols="40"></textarea>
    <input type="hidden" name="review[location_id]" value="<%= location.id %>">
    <input type="submit" class="submit-review-form">
  </form>

  <a href="#">Back to Listing</a>

</div>

<form class="location-request">
  <h3> Interested? <br> Request a booking </h3>

  <label>Number of Campers</label>
    <input type="number" name="request[guests_num]" value="">

  <label>Start Date</label>
    <input type="date" name="request[start_date]" value="">

  <label>Checkout Date</label>
    <input type="date" name="request[end_date]" value="">

  <input type="hidden" name="request[location_id]" value="<%=location.id%>">
  <input type="submit" class="submit-request">
</form>


<!-- <section class="showmap">
  <div id='map-show' class='map-show'> </div>
</section> -->
