<h3> <%= location.escape("name") %> </h3>

<p>
  <%= location.escape("description") %>
</p>

<p>
  Type: <%= location.escape("camptype") === "drive" ? "Drive-in" : "Wilderness" %>
</p>

<p>
  Max Occupancy: <%= location.escape("max_occupancy") %>
</p>

<p>
  Price: <%= location.escape("price") %>
</p>

<p>
  Address: <%= location.escape("coordinates") %>
</p>

<p>
  Water?: <%= location.get("water") ? "yes" : "no" %>
</p>

<p>
  Bathroom?: <%= location.get("bathroom") ? "yes" : "no" %>
</p>

<br>
<section class="showmap">

  <div id='map-show' class='map-show'> </div>

  <% console.log(location); %>
  <script>
  var map = L.mapbox.map('map-show', 'rjooby.kodi76mc');
  map.setView([<%=location.escape("latitude")%>, <%=location.escape("longitude")%>], 13);

  L.mapbox.featureLayer({
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [
      <%=location.escape("longitude")%>,
      <%=location.escape("latitude")%>
      ]
    },
    properties: {
      title: '<%=location.escape("name") %>',
      description: '<%=location.escape("description")%>',
      'marker-size': 'large',
      'marker-color': '#00A1D6',
      'marker-symbol': 'campsite'
    }
  }).addTo(map);


  </script>

</section>

<form class="request">
</div>


<h3> Interested? Request a booking </h3>

  <label>Number of Campers
  <input type="number" name="request[guests_num]" value="">
  </label>

  <br>

  <label> Start Date
    <input type="date" name="request[start_date]" value="">
  </label>

  <br>

  <label> Checkout Date
    <input type="date" name="request[end_date]" value="">
  </label>

  <input type="hidden" name="request[location_id]" value="<%=location.id%>">

  <input type="submit" class="submit-request">
</form>

<br>
<h3> Reviews </h3>
<ul>
  <% location.reviews().each(function(review){  %>
  <li><%=review.escape("body") %>
    <i><%= review.escape("created_at") %></i>
    <% if (location.current().id == review.escape("reviewer_id")){ %>
      <button class="delete-review" data-id="<%= review.id %>">Delete</button>
    <% } %>
  </li>
  <% }); %>
</ul>
<br>

<h3> Leave a review </h3>

<form class="review">
  <textarea name="review[body]" rows="8" cols="40"></textarea>
  <input type="hidden" name="review[location_id]" value="<%= location.id %>">
  <input type="submit" class="submit-review-form">

</form>

<a href="#">Back to Listing</a>
