<h3> <%= location.escape("name") %> </h3>

<p>
  <%= location.escape("description") %>
</p>

<p>
  Type: <%= location.escape("camptype") === "drive" ? "Drive-in" : "Wilderness" %>
</p>

<p>
  Max Occupancy: <%= location.escape("max_occupancy") %>
</p>

<p>
  Price: <%= location.escape("price") %>
</p>

<p>
  Address: <%= location.escape("coordinates") %>
</p>

<p>
  Water?: <%= location.escape("water") ? "yes" : "no" %>
</p>

<p>
  Bathroom?: <%= location.escape("bathroom") ? "yes" : "no" %>
</p>

<br>
<form class="request">
<h3> Interested? Request a booking </h3>

  <label>Number of Campers
  <input type="number" name="request[guests_num]" value="">
  </label>

  <br>

  <label> Start Date
    <input type="date" name="request[start_date]" value="">
  </label>

  <br>

  <label> Checkout Date
    <input type="date" name="request[end_date]" value="">
  </label>

  <input type="hidden" name="request[location_id]" value="<%=location.id%>">

  <input type="submit" class="submit-request">
</form>

<br>
<h3> Reviews </h3>
<ul>
  <% location.reviews().each(function(review){  %>
  <li><%=review.escape("body") %> post by
    <strong><%= Air.users.getOrFetch(review.reviewer_id).escape("username") %></strong>
    <i><%= review.escape("created_at") %></i>
    <% if (location.current().id === review.reviewer_id){ %>
      <button class="delete-review">Delete</button>
    <% } %>
  </li>
  <% }); %>
</ul>
<br>

<h3> Leave a review </h3>

<form class="review">
  <textarea name="review[body]" rows="8" cols="40"></textarea>
  <input type="hidden" name="review[location_id]" value="<%= location.id %>">
  <input type="submit" class="submit-review-form">

</form>

<a href="#">Back to Listing</a>
