<h2> <%= @location.name %> </h2>

<p>
  <%= @location.description %>
</p>

<p>
  Type: <%= @location.camptype == "drive" ? "Drive-in" : "Wilderness" %>
</p>

<p>
  Max Occupancy: <%= @location.max_occupancy %>
</p>

<p>
  Price: <%= @location.price %>
</p>

<p>
  Address: <%= @location.coordinates %>
</p>

<p>
  Water?: <%= @location.water ? "yes" : "no" %>
</p>

<p>
  Bathroom?: <%= @location.bathroom ? "yes" : "no" %>
</p>


<h3> Interested? Request a booking </h3>
<%= render "layouts/errors" %>

<form action="<%= location_requests_url(@location) %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">

  <label>Number of Campers
  <input type="number" name="request[guests_num]" value="">
  </label>

  <br>

  <label> Start Date
    <input type="date" name="request[start_date]" value="">
  </label>

  <br>

  <label> Checkout Date
    <input type="date" name="request[end_date]" value="">
  </label>

  <input type="submit">

</form>

<br>

<h3> Reviews </h3>

<ul>
<% @location.reviews.each do |review| %>
  <li><%=review.body %> post by
    <strong><%= User.find(review.reviewer_id).username %></strong>
    <i><%= review.created_at %></i>
    <% unless current_user.nil? %>
      <% if current_user.id == review.reviewer_id %>
      <%= button_to "Delete", review_url, method: :delete %>
      <% end %>
    <% end %>
  </li>
<% end %>
</ul>

<h3> Leave a Review </h3>

<form action="<%= location_reviews_url(@location) %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <textarea name="review[body]"></textarea>

    <input type="submit">

</form>

<br>
<a href="<%= locations_url %>"> Back to Listing </a>
